{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}

{% if attributes.adventure4life_base %}
  {% set adventure4life_base = attributes.adventure4life_base %}
  {% do attributes.removeAttribute('adventure4life_base') %}
{% endif %}

{{ menus.menu_links(items, attributes, 0, adventure4life_base) }}

{% macro menu_links(items, attributes, menu_level, adventure4life_base) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass([adventure4life_base ? adventure4life_base ~ 'menu menu']) }}>
        {% for item in items %}
          {%
            set classes = [
              adventure4life_base ~ 'menu-item menu-item',
              item.is_expanded ? adventure4life_base ~ 'menu-item--expanded',
              item.is_collapsed ? adventure4life_base ~ 'menu-item--collapsed',
              item.in_active_trail ? adventure4life_base ~ 'menu-item--active-trail',
            ]
          %}
          <li{{ item.attributes.addClass(classes) }}>
            {{ link(item.title, item.url, { 'class': [adventure4life_base ? adventure4life_base ~ 'menu-item-link'] }) }}
          {% if item.below %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1, adventure4life_base) }}
          {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <ul class="{% if adventure4life_base %}{{ adventure4life_base }}submenu menu{% endif %}">
        {% for item in items %}
          {%
            set classes = [
              adventure4life_base ~ 'submenu-item menu-item',
              item.is_expanded ? adventure4life_base ~ 'submenu-item--expanded',
              item.is_collapsed ? adventure4life_base ~ 'submenu-item--collapsed',
              item.in_active_trail ? adventure4life_base ~ 'submenu-item--active-trail',
            ]
          %}
          <li{{ item.attributes.addClass(classes) }}>
            {{ link(item.title, item.url, { 'class': [adventure4life_base ? adventure4life_base ~ 'submenu-item-link'] }) }}
            {% if item.below %}
              {{ menus.menu_links(item.below, attributes, menu_level + 1, adventure4life_base) }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endif %}
{% endmacro %}
